
node_modules/puppeteer/.local-chromium/mac-1022525/chrome-mac/Chromium.app/Contents/Frameworks/Chromium Framework.framework/Chromium Framework
node_modules/puppeteer/.local-chromium/mac-1022525/chrome-mac/Chromium.app/Contents/Frameworks/Chromium Framework.framework/Versions/105.0.5173.0/Chromium Framework
